{
  "API": "",
  "BuildNamespaceScript": 1,
  "CaseCode": false,
  "Dependencies": [
  ],
  "DevelopmentFolders": [
  ],
  "DevelopmentSpaces": [
  ],
  "KeepHistory": false,
  "OnApplicationStartup": "",
  "OnBuild": "",
  "OnSave": "",
  "ProjectSpace": "#.Provanto",
  "StartUp": "",
  "URL": "",
  "Version": "0.0.0"
}
